.nav {
  background-color: #333;
  color: #fff;
}

.nav-list {
  list-style: none;
  display: flex; /* Use flexbox to align list items horizontally */
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 20px;
}

.nav-item.active {
  border-bottom: 2px solid #fff;
}

.nav-item button {
  background: none;
  border: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

.nav-item button:hover {
  text-decoration: underline;
}
